.app_container {
  text-align: center;
  font-family: system-ui;
  font-weight: inherit;
}
:root {
  --back-dark: #22272c;
  --back-light: #f7f7f7;
  --text-light: #f7f7f7;
  --text-dark: #22272c;
  background-color: var(--back-dark);
  color: var(--text-light);
}
html,
body {
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
}
